[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "pwlapprox2d"]
	path = pwlapprox2d
	url = https://github.com/jwarwicker/pwlapprox2d
